/* src/components/ProjectCard.css */
.project-card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    width: 100%;
    max-width: 420px;
    row-gap: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .project-card-logo {
    font-size: 64px;
    margin-bottom: 12px;
  }
  
  .project-card h2 {
    margin: 16px 0 0 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
  }
  
  .project-card p {
    font-size: 16px;
    color: var(--text-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  
  .project-card a {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: var(--link-color);
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
  }
  
  .project-card a img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  
  .project-card a:hover {
    color: var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
  }
  
  /* Light theme variables */
  body {
    --background-color: #ffffff;
    --text-color: #000000;
    --border-color: #e2e8f0;
    --link-color: #6b46c1;
    --hover-color: #000000;
  }
  
  /* Dark theme variables */
  body.dark {
    --background-color: #1a202c;
    --text-color: #ffffff;
    --border-color: #2d3748;
    --link-color: #9f7aea;
    --hover-color: #ffffff;
  }